<header class="no-padding">
    <div class="navbar-fixed">
        <nav class="navfeature teal lighten-1">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">OpenSync</a>
                <ul class="right">
                    <li><a href="https://github.com/brasky/OpenSync" target="_blank" rel="noopener noreferrer" style="height:64px;"><img src="/images/GitHub-Mark-32px.png" alt="GitHub logo" height="32" width="32" style="margin-top:15px;"/></a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
