<header class="no-padding">
    <div class="navbar-fixed">
        <nav class="navfeature teal lighten-1">
            <div class="container nav-wrapper">
                <a href="#" class="brand-logo center">OpenSync</a>
            </div>
        </nav>
    </div>
</header>
@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
